
/* 
p {
    color: rgb(255, 255, 0);
    color: #FFFF00;

    lista di fallback
    font-family: "Montserrat", sans-serif;
    
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-style: italic; 
    font-size: 11px;
}

h2 {
    text-align: center;
}
*/




/*
p {
    color: red;
    color: yellow;
}
*/

/*
p {
    color: red;
}

p {
    color: yellow;
}
*/





.navbar {
    background-color: rgb(11, 11, 207);
}

.nav-link {

    font-family: "Montserrat", sans-serif;
    color: white;

    text-transform: uppercase;
    text-decoration: none;
}