:root {
    --image-width: 400px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
.container::before {
    content: "";

    display: block;
    width: 100%;
    height: 12px;
    background-color: red;
}

.container::after {
    content: "";

    display: block;
    width: 100%;
    height: 12px;
    background-color: red;
}
*/


/*
input {
    margin: 48px;
    border: none;
}

input:focus {
    outline: 4px solid red;
}
*/

/*
input::placeholder {
    color: red;
}
*/



/* 
p {
    border: 2px solid red;
    padding: 24px;
}

.elementoBello {
    position: relative;
    top: 60px;
    left: 80px;

    background-color: blue;
}
 */

/*
body {
    padding: 48px;
}

p {
    border: 2px solid red;
    padding: 24px;
}

.super-container {
    padding: 48px;
    background-color: blue;
}

.container {
    position: relative;

    padding: 48px;
    background-color: green;
}

.elementoBello {
    position: absolute;
    top: 0;
    left: 0;

    background-color: yellow;
}
*/




/*
.container {
    position: relative;

    display: block;

    margin: 48px;
    background-color: red;
}

.container > img {
    display: block;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    color: white;
    text-align: center;
}
*/


/*
p {
    border: 2px solid red;
    padding: 24px;
}

.elementoBello {
    position: fixed;
    bottom: 32px;
    right: 32px;

    background-color: yellow;
}
*/

/*
p {
    border: 2px solid red;
    padding: 24px;
}

.elementoBello {
    position: sticky;
    top: 0;
    left: 0;

    background-color: yellow;
}
*/

/*
main {
    position: relative;
}

p {
    padding: 24px;
    background-color: blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 24px;
    width: 100%;

    background-color: white;
}
*/



/*
p {
    padding: 24px;
}

.paraSu {
    position: sticky;
    top: 0;
    left: 0;

    background-color: red;
}

.paraGiu {
    position: sticky;
    top: 0;
    left: 0;

    background-color: green;
}
*/

/*
p {
    padding: 24px;
}

.btn-fab {
    position: fixed;
    bottom: 24px;
    right: 24px;

    box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: none;
    width: 48px;
    height: 48px;
    background-color: rgb(233, 19, 229);

    font-size: 1rem;
    color: white;

    cursor: pointer;
}

.btn-fab:hover {
    background-color: blue;
}
*/


/*
.paraBello {
    display: inline-block;
    padding: 24px;
    background-color: #ff0000;

    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 2s;

    shorthand
    transition: background-color 3s ease-in 2s;
    transition: padding 400ms ease-in, background-color 400ms ease-in;
    transition: all 400ms ease-in;

    transition: all 400ms ease-in;
}

.paraBello:hover {
    padding: 48px;
    background-color: #0000ff;
}
*/

/*
.container {
    position: relative;

    margin: 48px;
    padding: 48px;
    background-color: red;
}

.container .content {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    padding: 0 48px;
    width: 100%;
    height: 100%;

    font-size: 1rem;

    transition: font-size 400ms ease-in;
}

.container .content:hover {
    font-size: 1.5rem;
}
*/


/*
p {
    border: 2px solid red;
    padding: 24px;
}

.sidebar {

    position: fixed;
    top: 0;
    left: -300px;

    box-shadow: 0px 2px 16px -4px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 100vh;

    background-color: white;

    transition: left 400ms ease-in;
}

.sidebar-opened {
    left: 0px;
}

.sidebar a {
    display: block;
}
*/


/*
img {
    transform: translateX(200px);
    transform: translateY(50px);
    transform: translate(200px, 50px);

    transform-origin: top left;
    transform: rotateZ(45deg);

    transform: scaleX(3);
    transform: scaleY(2);
    transform: scale(3, 2);
}
*/

/*
img {

    border: 2px solid red;

    animation-name: moveIn;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 5s;

    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: both;
}


@keyframes moveIn {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(800px);
    }
}
*/



img {
    border: 2px solid red;
    width: var(--image-width);

    animation-name: moveIn;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;

    animation-fill-mode: both;
}


@keyframes moveIn {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(calc((100vw - var(--image-width)) / 2)) translateY(600px);
    }

    100% {
        transform: translateX(calc(100vw - var(--image-width)));
    }
}