/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
p {
    max-width: 600px; 
    min-width: 400px;

    width: 50%;
    background-color: red;
}
*/


/* 
span {
    display: inline-block;

    margin: 48px;
    border: 2px solid red;
    padding: 48px;
    width: 500px;
    height: 500px;
    background-color: green;
}
*/

/*
.btn-pill {
    display: inline-block;
    margin: 48px;
    border-radius: 24px;
    padding: 12px 24px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: white;

    background-color: #ff9800;
}
*/

/*
.container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    height: 400px;
    background-color: blue;
}

.item {
    padding: 24px;
    border: 2px solid red;
    color: white;
}
*/


/*
.container {
    display: flex;
    flex-wrap: wrap;

    background-color: blue;
}

.item {
    padding: 24px;
    border: 2px solid red;

    width: 100%;
    width: 50%;
    width: 33.3%;

    color: white;
}
*/


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.4);
}

.navbar-menu {
    display: flex;
    align-items: center;

    list-style: none;
}

.navbar-brand {
    padding: 24px;

    text-decoration: none;
    color: rgb(22, 22, 238);

    font-weight: bold;
    font-size: 24px;
}

.navbar-link, .navbar-btn {
    padding: 24px;

    text-decoration: none;
    color: rgb(22, 22, 238);
}

.navbar-btn {
    margin-right: 24px;
    border: 1px solid rgb(22, 22, 238);
    border-radius: 24px;
    padding: 12px 24px;

    background-color: transparent;
    cursor: pointer;
}



.row {
    display: flex;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}



