/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
p {
    max-width: 600px; 
    min-width: 400px;

    width: 50%;
    background-color: red;
}
*/


/* 
span {
    display: inline-block;

    margin: 48px;
    border: 2px solid red;
    padding: 48px;
    width: 500px;
    height: 500px;
    background-color: green;
}
*/

/*
.btn-pill {
    display: inline-block;
    margin: 48px;
    border-radius: 24px;
    padding: 12px 24px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: white;

    background-color: #ff9800;
}
*/

/*
.container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    height: 400px;
    background-color: blue;
}

.item {
    padding: 24px;
    border: 2px solid red;
    color: white;
}
*/


/*
.container {
    display: flex;
    flex-wrap: wrap;

    background-color: blue;
}

.item {
    border: 2px solid red;
    padding: 24px;

    width: 100%;
    width: 50%;
    width: 33.3%;

    color: white;
}
*/






/*
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.4);
}

.navbar-menu {
    display: flex;
    align-items: center;

    list-style: none;
}

.navbar-brand {
    padding: 24px;

    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: rgb(22, 22, 238);
}

.navbar-link, .navbar-btn {
    padding: 24px;

    text-decoration: none;
    color: rgb(22, 22, 238);
}

.navbar-btn {
    margin-right: 24px;
    border: 1px solid rgb(22, 22, 238);
    border-radius: 24px;
    padding: 12px 24px;

    background-color: transparent;
    cursor: pointer;
}

.row {
    display: flex;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}
*/

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: linear-gradient(128deg,rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 100%);
}

form {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    padding: 48px;

    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.33);
}

form h2 {
    margin-bottom: 48px;
    text-align: center;
    color: white;
}

form input, form button {
    display: block;

    margin-bottom: 12px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    padding: 12px;

    width: 100%;

    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.33);

    color: white;
}





